:root {
	--oddColor: rgb(0, 110, 255);
	--evenColor: rgb(1, 236, 178);
}

body {
	background-image: linear-gradient(120deg, #FDFBFB 0%, #EBEDEE 100%);
}

* {
	font-family: "Segoe UI Light"!important;
}

a {
	text-decoration: none!important;
}

.board {
	height: 30vh;
	padding: 30px;
	font-family: 'Segoe UI';
	display: inline-block;
}

.todo-list {
	background: #E8E8E8;
	border-radius: 4px;
	max-width: 400px;
	padding: 5px;
	font-family: 'Segoe UI';
}

.todo {
	align-items: center;
	background: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
	display: flex;
	font-size: 16px;
	justify-content: space-between;
	margin-bottom: 6px;
	padding: 10px 10px;
	font-family: 'Segoe UI';
}

.board:nth-child(odd) .todo {
	border-top: 5px solid var(--oddColor);
}

.board:nth-child(odd) .todo button {
	background-color: var(--oddColor);
}

.board:nth-child(odd) a {
	color: var(--oddColor);
}

.board:nth-child(even) .todo {
	border-top: 5px solid var(--evenColor);
}

.board:nth-child(even) .todo button {
	background-color: var(--evenColor);
}

.board:nth-child(even) a {
	color: var(--evenColor);
}

.todo button {
	color: white;
	border-radius: 5px!important;
	margin-left: 5px;
	border: 1px solid white;
	font-size: 16px;
	padding: 7px;
}

.MuiSvgIcon-root {
	position: relative!important;
	top: 3px!important;
}